.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  border: 1px solid white;
  background-color: #1e2a38;
  min-height: 100vh;
  padding: 20px;
}

.separation {
  margin-top: 30px;
  width: 100%;
}

nav {
  margin-top: 50px;
}


.icon-top {
  display: block;
  margin: 0 auto 0.5rem auto;
  font-size: 2rem;
  color: #00bcd4;
  text-align: center;
}
h3 {
  color: white;
  text-transform: uppercase;
  word-spacing: 0.3rem;
  text-align: center;
  letter-spacing: 0.05em;
}
h3 .material-icons {
  display: flex;
  justify-content: center;
}

.sidebar a {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  border-left: 4px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #2e3b4e;
  color: #ffffff;
  border-left: 4px solid #00bcd4;
  cursor: pointer;
}

.sidebar button:hover{
  background-color: #2e3b4e;
  color: #ffffff;
  border-left: 4px solid #00bcd4;
}

.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

.material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
}

.sidebar a:hover .material-icons,
.sidebar a:hover i {
  color: #00bcd4;
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.submenu{
  display: none;
}

.submenu.open{
  display: block;
}

.submenu a{
  padding: 8px 16px;
  display: block;
  margin-left: 20px;
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.menu-toggle {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 16px;
  cursor: pointer;
  margin-bottom: 4px;
}

.menu-toggle:hover{
  background-color: rgba(255, 255, 255, 0.1);
}


.arrow{
  font-size: 11px;
}
